body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(10, 10, 95);
}

/* MENU */
#menu {
	width: 100%;
	background:  rgba(10, 10, 95, .7);
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
    margin:0;
	padding:0;
	box-shadow: 0 5px 10px rgba(43, 43, 160, 0.5);
}
#mark{
  margin: 0; 
  padding-left: 0; 
  overflow: hidden;
}
#mark li{
list-style-type: none;
display: inline-block;

}

#mark li a{
	color: white;
	font-weight: bold;
	text-decoration: none; 
	display: block;
	padding: 10px;
	margin-right: 30px;
	transition: all 1s;
	border-radius: 2px;
	font-weight: bold;
}
#mark li a:hover{
	background-color: rgba(255, 255, 255, .6);
	text-decoration: none; 
	display: block;
	padding: 10px;
	margin-right: 30px;
	transition: all 1s;
	border-radius: 2px;
	font-weight: bold;


}

/* ПЛИТКА */
#b1block{
	display: block;
	height: 400px;
	width: 50%;
	background-color: #003;
	float: left;
}
#blocl_helper1{
	display: block;
	height: 400px;
	width: 50%;
<<<<<<< HEAD
	background-color: rgb(255, 255, 255);
=======
	background-color: rgb(253, 142, 142);
>>>>>>> ec4c20f92f014772490822f56c74db92fb39abf8
	float: left;
}
#b2block{
	height: 400px;
	width: 50%;
	background-color: #303;
	float: right;
	}
	#blocl_helper2{
		display: block;
		height: 400px;
		width: 50%;
<<<<<<< HEAD
		background-color: rgb(255, 255, 255);
		float: right;
=======
		background-color: rgb(245, 143, 143);
		float: left;
>>>>>>> ec4c20f92f014772490822f56c74db92fb39abf8
	}
#b3block{
	height: 400px;
	width: 50%;
	background-color: #003;
	float: left;
	}
	#blocl_helper3{
		display: block;
		height: 400px;
		width: 50%;
<<<<<<< HEAD
		background-color: rgb(255, 255, 255);
=======
		background-color: rgb(243, 141, 141);
>>>>>>> ec4c20f92f014772490822f56c74db92fb39abf8
		float: left;
	}
#b4block{
	height: 400px;
	width: 50%;
	background-color: #336;
	float: right;
	}
	#blocl_helper4{
		display: block;
		height: 400px;
		width: 50%;
<<<<<<< HEAD
		background-color: rgba(255, 255, 255, .3);
		float: right;
=======
		background-color: rgb(255, 158, 158);
		float: left;
>>>>>>> ec4c20f92f014772490822f56c74db92fb39abf8
	}
.plitka_to_text1{
	margin: 15%;
	color: white;
}
.plitka_to_text2{
	margin: 15%;
	color: white;
}
.plitka_to_text3{
	margin: 15%;
	color: white;
}
.plitka_to_text4{
	margin: 15%;
	color: white;
}
.important_span{
	font-weight: bold;
	font-size: x-large;
	
}






#first_big_image {
	background: url(images/space-background.jpg);
	background-repeat: no-repeat;
	background-size: 120%;
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	
}
#main_title {
	margin-left: 150px;

	margin-top: 330px;
}
#first_big_image hr {
	border: white 3px solid;
	margin-left: 0px;
	width: 400px;
}
#first_big_image h1 {
	text-shadow: 1px 2px 7px white;
	font-size: 6em;
	color: white;
 	margin-bottom: 0px;
	line-height: 50%;
}
#main{
	width: 96%;
/* убрал высоту, сделав её плавающей */
	background-color:  white;
	position: absolute;
	top: 100%;
	left: 2%;
	box-shadow: 0 7px 40px rgb(151, 151, 255);
}

#first_big_image h2 {
	font-size: 3em;
	color: white;
	line-height: 50%;
} 

#icon-down {
	
	padding: 0px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	padding: 5px;
	position: absolute;
	bottom: 3%;
	left: calc(50% - 20px);
	margin: 3px 0px;
	width: 30px;
	height: 30px;
	animation: pulsation-down 0.7s infinite alternate;

}
@keyframes pulsation-down {
	from {
		width: 30px;
		height: 30px;
	}
	50% {
		bottom: calc(3% - 8px);
		left: calc(50% - 20px);
		width: 36px;
		height: 36px;
	}
}