
@keyframes pulsation-down {
	from {
		width: 30px;
		height: 30px;
	}
	50% {
		bottom: calc(3% - 8px);
		left: calc(50% - 20px);
		width: 36px;
		height: 36px;
	}
}
@keyframes planet-tranform{
	from{
		transform:rotate(0deg);
	}
	50%{
		transform:rotate(180deg);
	}
	to{
		transform:rotate(360deg);
	}
}