#sun {
  height: 100%;
  width: 300px;
}

#mercury {
  width: 30px;
  position: absolute;
  left: 310px;
  top: 300px;
  -webkit-animation: planet-tranform 50s linear;
          animation: planet-tranform 50s linear;
  -webkit-animation-iteration-count: 9999999;
          animation-iteration-count: 9999999;
}

#mercury_help {
  width: 800px;
  height: 200px;
  position: absolute;
  top: 50px;
  left: 310px;
  z-index: 1;
  background-color: #00002e;
  border-radius: 5px;
}
#mercury_help p {
  color: white;
  text-shadow: 1px 1px 3px black;
  padding: 10px;
}

#vener {
  width: 40px;
  position: absolute;
  left: 350px;
  top: 295px;
  -webkit-animation: planet-tranform 50s linear;
          animation: planet-tranform 50s linear;
  -webkit-animation-iteration-count: 9999999;
          animation-iteration-count: 9999999;
}

#earthh {
  width: 35px;
  position: absolute;
  left: 400px;
  top: 298.5px;
  -webkit-animation: planet-tranform 50s linear;
          animation: planet-tranform 50s linear;
  -webkit-animation-iteration-count: 9999999;
          animation-iteration-count: 9999999;
}

#marss {
  width: 32px;
  position: absolute;
  left: 445px;
  top: 299px;
  -webkit-animation: planet-tranform 50s linear;
          animation: planet-tranform 50s linear;
  -webkit-animation-iteration-count: 9999999;
          animation-iteration-count: 9999999;
}

#Jupiter {
  width: 100px;
  position: absolute;
  left: 487px;
  top: 265px;
  -webkit-animation: planet-tranform 80s linear;
          animation: planet-tranform 80s linear;
  -webkit-animation-iteration-count: 9999999;
          animation-iteration-count: 9999999;
}

#saturN {
  width: 200px;
  position: absolute;
  left: 597px;
  top: 275px;
  -webkit-animation: planet-tranform 80s linear;
          animation: planet-tranform 80s linear;
  -webkit-animation-iteration-count: 9999999;
          animation-iteration-count: 9999999;
}

#uraN {
  width: 80px;
  position: absolute;
  left: 797px;
  top: 275px;
  -webkit-animation: planet-tranform 80s linear;
          animation: planet-tranform 80s linear;
  -webkit-animation-iteration-count: 9999999;
          animation-iteration-count: 9999999;
}

#neptuN {
  width: 120px;
  position: absolute;
  left: 887px;
  top: 290px;
  -webkit-animation: planet-tranform 80s linear;
          animation: planet-tranform 80s linear;
  -webkit-animation-iteration-count: 9999999;
          animation-iteration-count: 9999999;
}

#first-mars {
  background: url(images/images.png) no-repeat;
  background-size: 130%;
  background-position: 50%;
}

#first-mars:hover {
  background-size: 140%;
}

#second-mars {
  background: url(images/mars-v-vodolee-2018-vliyanie-na-znaki-zodiaka.jpg) no-repeat;
  background-size: 175%;
  background-position: 50%;
}

#second-mars:hover {
  background-size: 185%;
}

#third-mars {
  background: url(images/800px-TerraformedMarsGlobeRealistic.jpg) no-repeat;
  background-size: 100% 100%;
  background-position: 50%;
}

#third-mars:hover {
  background-size: 110% 110%;
}

#fourth-mars {
  background: url(images/MarsTransitionV.jpg) no-repeat;
  background-size: 100%;
  background-position: 50%;
}

#fourth-mars:hover {
  background-size: 110%;
}

/*# sourceMappingURL=index.css.map */