$top:50%;
#sun{
    height: 100%;
    width:300px;
}
#mercury{
width: 30px;
position: absolute;
left: 310px;
top: 300px;
}
#vener{
    width: 40px;
    position: absolute;
    left: 350px;
    top: 295px; 
}
#earthh{
    width: 35px;
    position: absolute;
    left: 400px;
    top: 298.5px;    
}
#marss{
    width: 32px;
    position: absolute;
    left: 445px;
    top: 299px; 
}
#Jupiter{
    width: 100px;
    position: absolute;
    left: 487px;
    top: 265px; 
}
#saturN{
    width: 200px;
    position: absolute;
    left: 597px;
    top: 275px; 
}
#uraN{
    width: 80px;
    position: absolute;
    left: 797px;
    top: 275px; 
}
#neptuN{
    width: 120px;
    position: absolute;
    left: 887px;
    top: 290px;    
}